@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,200,700')

body
  font-family 'Source Code Pro', monospace

text
  font-family 'Source Code Pro', monospace

.nav
  background #000
  text-align center

  li
    display inline-block
    padding-right 20px
    color #3AB795

  a
    display inline-block
    padding 20px
    color #fff
    text-decoration none

    &:hover
      background-color #3AB795
      text-decoration underline

.main-content
  margin 50px auto
  max-width 1200px

  p
    line-height 1.6
    margin-bottom 1.7em

  .left
    float left
    width 50%

  .right
    float right
    width 50%

  .clear
    clear both

  div.content
    border-radius 10px
    border 1px solid #AAA
    padding 10px
    margin 5px

  span.owner
    margin-left 0.5em
    color #0B8043

.footer
  margin 50px auto
  max-width 1200px
  border-top 1px solid #444
  padding 20px 0

  p
    color #444
    font-size 12px
