doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    script(src='https://www.gstatic.com/charts/loader.js')
    title Projects
  body
    ul.nav
      li: a(href='/') Home
      li: a(href='#nav') Nav

    .main-content
      block content

    .footer
      p FOOTER.
