doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    script(src='https://www.gstatic.com/charts/loader.js')
    title Projects
  body
    ul.nav
      li: a(href='/') Home
      - each file in files
        li: a(href='/gantt?project=#{file}') #{file}

    .main-content
      block content

    .footer
      p FOOTER.
