extend default

block content
  script(src='https://www.gstatic.com/charts/loader.js')

  h2.
    !{project}

  //- Top-left: Time
  div.left
    div.content#time
      text TIME
  //- TODO - JS

  //- Top-right: Risks
  div.right#risks
    div.content#time
      text Risks
      ul
        - each risk in JSON.parse(risk_array)
          li #{risk.description}
  //- TODO - Tabulate - or order - and colour risks

  //- Reset floating
  div.clear

  //- Center - both columns: Gantt
  div
    div.content#gantt_div
  script.
    var task_array = !{task_array};
  script(src="scripts/gantt.js")

  //- Bottom-left: Notes
  div.left
    div.content#notes
      ul
        - each note in note_array
          li #{note}
  //- TODO - expandable to see sub-notes

  //- Bottom-right: Actions
  div.right
    div.content#actions
      text ACTIONS
  //- TODO - JS

  //- Reset floating
  div.clear
